#tag {
	/* Re-distribute spacing for the main grid */
	padding-top: (@gridPadding / 2);
	padding-right: (@gridDistance - (@gridPadding / 2));

	> .description {
		margin-right: (@gridDistance - (@gridPadding / 2));
		margin-top: (@gridPadding / 2);
	}

	.infoBox {
		> h4 {
			font-size: 1.33em;
		}

		dt {
			margin-top: @gridDistance;
		}

		dd {
			margin-left: @gridDistance;
		}
	}
}

@itemsPerRow: 5;
@aspectRatio: percentage(7.5 / 16);

.grid-sizer {
	width: (100% / @itemsPerRow);

	> .aspect-ratio {
		padding-bottom: @aspectRatio;
	}
}

.grid-item {
	padding: (@gridPadding / 2);
	width: (100% / @itemsPerRow);
	float: left;

	&:hover,
	&:active,
	&:focus,
	&.active {
		padding: (@gridPadding / 2 - 2px);
		border: 2px solid @accentColor;
	}

	&:hover,
	&:active,
	&:focus {
		video,
		img {
			opacity: 1 !important;
			transition-delay: 0.18s !important;
		}
	}

	> .projectLink {
		display: block;
		background-color: @panelBackgroundColor;
		position: relative;
		padding-bottom: @aspectRatio;
		overflow: hidden;

		> .mediaContainer {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			> video,
			> img {
				opacity: 0.1;
				transition: opacity 0.5s 0.3s;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	&.promoted {
		> .projectLink {
			padding-bottom: 100%;
		}
	}

	.marking(@color, @text, @textColor){
		> .projectLink {
			border: 2px solid @color;

			&::after {
				content: @text;
				display: block;
				position: absolute;
				top: 0;
				left: 0;

				border-bottom-right-radius: (0.75 * @gridDistance) 100%;

				background-color: @color;
				color: @textColor;

				font-size: 0.7em;
				padding: 0.4em (@gridPadding);
			}
		}
	}

	&.highlight {
		.marking(@highlightColor, "Highlighted Project", @panelBackgroundColor);
	}

	&.frontpage {
		.marking(@promotedColor, "Front Page Project", @backgroundColor);
	}
}

@media all and (max-width: 1600px) {
	@itemsPerRow: 4;

	.grid-sizer {
		width: (100% / @itemsPerRow);
	}

	.grid-item {
		width: (100% / @itemsPerRow);
	}
}

@media all and (max-width: 1000px) {
	@itemsPerRow: 3;

	.grid-sizer {
		width: (100% / @itemsPerRow);
	}

	.grid-item {
		width: (100% / @itemsPerRow);
	}
}