html {
  /*background-color: #222;*/
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2C3E50 74%);
  color: rgba(255, 255, 255, 0.9);
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", "Noto Sans", Roboto, Helvetica, Verdana, sans-serif;
}
main {
  /*background-image: linear-gradient(to left, rgba(34,34,34,0) 30px, #222, rgba(34,34,34,0) 30px);*/
  max-width: 900px;
  margin: 0 auto;
  border-top: none;
  border-bottom: none;
  padding: 30px 0;
  font-size: 24px;
  min-height: 100vh;
}
article {
  position: relative;
  background-color: rgba(34, 34, 34, 0.65);
  padding: 20px 30px 30px;
}
article a {
  transition: text-shadow 0.3s;
}
article a:link {
  color: DeepSkyBlue;
  text-decoration: underline;
}
article a:visited {
  color: DeepSkyBlue;
  /*text-decoration: underline;*/
  /*text-decoration-style: double;*/
}
article a:hover {
  text-decoration: none;
}
article a:active {
  text-decoration: none;
  /*text-shadow: 5px 2px 0px rgba(255, 255, 255, 0.9);*/
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}
article a:focus {
  /*text-decoration: underline;*/
  /*text-decoration-style: dashed;*/
}
article h2 > a:link,
article h3 > a:link,
article h4 > a:link,
article h5 > a:link,
article h6 > a:link,
article h2 > a:visited,
article h3 > a:visited,
article h4 > a:visited,
article h5 > a:visited,
article h6 > a:visited,
article h2 > a:hover,
article h3 > a:hover,
article h4 > a:hover,
article h5 > a:hover,
article h6 > a:hover,
article h2 > a:active,
article h3 > a:active,
article h4 > a:active,
article h5 > a:active,
article h6 > a:active,
article h2 > a:focus,
article h3 > a:focus,
article h4 > a:focus,
article h5 > a:focus,
article h6 > a:focus {
  color: inherit;
  text-decoration: none;
}
article .example {
  font-style: italic;
}
article iframe {
  border: none;
  display: block;
  width: 100%;
}
article iframe.steam-embed {
  width: 646px;
  max-width: 100%;
  height: 190px;
  margin-bottom: 0.7em;
}
article iframe.steam-embed.centered {
  margin: 0 auto;
}
h1 + article {
  margin-top: 60px;
}
nav li {
  line-height: 2;
}
.article-time > time {
  float: right;
  /*display: inline-block;*/
  color: rgba(255, 255, 255, 0.7);
  border: 2px solid currentColor;
  border-radius: 1em 0 0 1em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 80%;
  line-height: 2;
  margin: 1.55em 0;
  /* match h2 outer height */
  position: relative;
}
.article-time > time::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -1px 0 0 2px;
  height: 2px;
  width: 30px;
  background-color: currentColor;
}
p.separated {
  /* bigger margin to top */
}
.image-container {
  margin: 1em 0;
}
.image-container > img {
  display: block;
  max-width: 100%;
}

.image-container.centered > img {
  margin: 0 auto;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.font-preview > dt {
  float: right;
  font-size: 70%;
  border: 2px solid currentColor;
  border-radius: 15px;
  padding: 3px 8px;
}
.font-preview > dd {
  margin: 0;
}
.font-preview h3 {
  font-weight: normal;
  margin: 28px 0;
}
.font-preview p {
  margin: 24px 0;
}
.tags {
  margin-top: 4em;
  font-size: 80%;
}
.tags > strong {
  margin-right: 16px;
}
a.tag {
  display: inline-block;
  margin-right: 16px;
  padding: 0.1em 16px;
  border: 1px solid DeepSkyBlue;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  line-height: 1.5;
  text-transform: lowercase;
  text-decoration: none;
}
a.tag::before {
  content: "#";
}
a.tag:link {
  color: inherit;
  text-decoration: none;
}
a.tag:visited {
  color: inherit;
  text-decoration: none;
}
a.tag:hover,
a.tag:active,
a.tag:focus {
  color: DeepSkyBlue;
}
a.tag.category {
  border-color: #FF1955;
}
a.tag.category:hover,
a.tag.category:active,
a.tag.category:focus {
  color: #FF1955;
}
.numberOfProjects {
  margin-top: 0.5em;
  font-size: 60%;
  color: #999999;
}
.numberOfProjects::before {
  content: "(";
}
.numberOfProjects::after {
  content: ")";
}
p.comment {
  text-align: center;
  color: deepskyblue;
  opacity: 70%;
}
p.comment::before {
  content: "// ";
}
p.comment.todo::before {
  content: "// TODO ";
}
.alternating-paragraphs > p {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 45px;
}
.alternating-paragraphs > p:nth-of-type(2n) {
  align-items: flex-end;
}
.alternating-paragraphs > p:nth-of-type(2n)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  right: -30px;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
}
.alternating-paragraphs > p:nth-of-type(2n) iframe {
  float: right;
}
.alternating-paragraphs > .description {
  width: 100%;
}
hr.article-separator {
  position: relative;
  margin: 60px 0;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.9);
  width: calc(50% - 24px);
  overflow: visible;
}
hr.article-separator::before {
  content: "";
  position: absolute;
  right: -32px;
  top: -8px;
  background-color: inherit;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
hr.article-separator::after {
  content: "";
  position: absolute;
  left: calc(100% + 48px);
  background-color: inherit;
  width: 100%;
  height: 100%;
}
