html {
    /*background-color: #222;*/
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2C3E50 74%);
    color: rgba(255, 255, 255, 0.9);

    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", "Noto Sans", Roboto, Helvetica, Verdana, sans-serif;
}

@mainPadding: 30px;

main {
    /*background-image: linear-gradient(to left, rgba(34,34,34,0) 30px, #222, rgba(34,34,34,0) 30px);*/
    max-width: 900px;
    margin: 0 auto;
    border-top: none;
    border-bottom: none;
    padding: @mainPadding 0;
    font-size: 24px;
    min-height: 100vh;
}

article {
    position: relative;
    background-color: rgba(34, 34, 34, 0.65);

    padding: (@mainPadding / 3 * 2) @mainPadding @mainPadding;

    a {
        transition: text-shadow 0.3s;

        &:link {
            color: DeepSkyBlue;
            text-decoration: underline;
        }

        &:visited {
            color: DeepSkyBlue;
            /*text-decoration: underline;*/
            /*text-decoration-style: double;*/
        }

        &:hover {
            text-decoration: none;
        }

        &:active {
            text-decoration: none;
            /*text-shadow: 5px 2px 0px rgba(255, 255, 255, 0.9);*/
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
        }

        &:focus {
            /*text-decoration: underline;*/
            /*text-decoration-style: dashed;*/
        }
    }

    h2 > a,
    h3 > a,
    h4 > a,
    h5 > a,
    h6 > a {
        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            color: inherit;
            text-decoration: none;
        }
    }

    .example {
        font-style: italic;
    }

    iframe {
        border: none;
        display: block;
        width: 100%;

        &.steam-embed {
            width: 646px;
            height: 190px;
            margin-bottom: 0.7em;

            &.centered {
                margin: 0 auto;
            }
        }
    }
}

h1 + article {
    margin-top: 60px;
}

nav li {
    line-height: 2;
}

.article-time {
    > time {
        float: right;
        /*display: inline-block;*/
        color: rgba(255, 255, 255, 0.7);
        border: 2px solid currentColor;
        border-radius: 1em 0 0 1em;
        padding-left: 0.8em;
        padding-right: 0.8em;
        font-size: 80%;
        line-height: 2;
        margin: 1.55em 0; /* match h2 outer height */

        position: relative;
    }

    > time::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: -1px 0 0 2px;
        height: 2px;
        width: @mainPadding;
        background-color: currentColor;
    }
}

p.separated {
    /* bigger margin to top */
}

.image-container {
    margin: 1em 0;

    > img {
        display: block;
        max-width: 100%;
    }

    &.centered > img {
        margin: 0 auto;
    }
}

.font-preview {
    > dt {
        float: right;
        font-size: 70%;
        border: 2px solid currentColor;
        border-radius: 15px;
        padding: 3px 8px;
    }

    > dd {
        margin: 0;
    }

    h3 {
        font-weight: normal;
        margin: 28px 0;
    }

    p {
        margin: 24px 0;
    }
}

.tags {
    margin-top: 4em;
    font-size: 80%;

    > strong {
        margin-right: 16px;
    }
}

a.tag {
    display: inline-block;

    margin-right: 16px;
    padding: .1em 16px;

    border: 1px solid DeepSkyBlue;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;

    line-height: 1.5;

    text-transform: lowercase;
    text-decoration: none;

    &::before {
        content: "#";
    }

    &:link {
        color: inherit;
        text-decoration: none;
    }

    &:visited {
        color: inherit;
        text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
        color: DeepSkyBlue;
    }

    &.category {
        border-color: #FF1955;

        &:hover,
        &:active,
        &:focus {
            color: #FF1955;
        }
    }
}

.numberOfProjects {
    margin-top: .5em;
    font-size: 60%;
    color: #999999;

    &::before {
        content: "(";
    }

    &::after {
        content: ")";
    }
}

p.comment {
    text-align: center;
    color: deepskyblue;
    opacity: 70%;

    &::before {
        content: "// "
    }

    &.todo::before {
        content: "// TODO "
    }
}

.alternating-paragraphs {
    > p {
        position: relative;

        display: flex;
        flex-direction: column;

        z-index: 1;

        margin: 0;
        padding-top: (@mainPadding * 1.5);
        padding-bottom: (@mainPadding * 1.5);
    }

    > p:nth-of-type(2n) {
        align-items: flex-end;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -@mainPadding;
            right: -@mainPadding;
            z-index: -1;

            background-color: rgba(0, 0, 0, 0.2);
        }

        iframe {
            float: right;
        }
    }

    > .description {
        width: 100%;
    }
}

hr.article-separator {
    position: relative;

    margin: 60px 0;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.9);
    width: calc(50% - 24px);
    overflow: visible;

    &::before {
        content: "";

        position: absolute;
        right: -32px;
        top: -8px;
        background-color: inherit;
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    &::after {
        content: "";

        position: absolute;
        left: calc(100% + 48px);
        background-color: inherit;
        width: 100%;
        height: 100%;
    }
}
