#wrapper {
    margin: 0 auto;
}

canvas {
    margin: 0;
}

h2 {
    margin-top: 32px;
}

.inputs {
    float: right;
    height: 100vmin;
    box-sizing: border-box;
    background-color: #222;
}

.inputs > label {
    cursor: pointer;
    display: block;
}

.inputs > .forRadio,
.inputs > .checkbox {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.inputs > .forSlider {
    margin-top: 1em;
    margin-bottom: -0.7em;
}

.inputs > input {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; /* to cover the default markers */
}

.inputs > .defaultMarker {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 2px solid DeepSkyBlue;
    position: relative;
    top: 20.5px;
    margin-left: -3px;
}