{% extends 'partials/base.html.twig' %}

{% set mainId = "debug" %}

{% block content %}
    <ul style="
		text-align: left;
	">
        {% set tagPage = page.find("/tag") %}
        {% for taxCategory,taxValues in taxonomy.taxonomy() %}
            <li>{{ taxCategory }}
                <ul>
                    {% for value,pages in taxValues %}
                        <li>{{ value }}:
                            <a href="{{ tagPage.url ~ '/:' ~ value }}" class="tag" style="float: none">
                                {{ themeConfig.tagMapping[value].title|default(value|capitalize) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}