/* 100 - Thin: normal */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Thin.eot');*/
    src: local('Industry Thin'), local('Industry-Thin'),
    /*url('Industry-Thin.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Thin.woff2') format('woff2'),*/
    /*url('Industry-Thin.woff') format('woff'),*/
    url('Industry-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* 100 - Thin: italic */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Thin-Italic.eot');*/
    src: local('Industry Thin Italic'), local('Industry-ThinItalic'), local('Industry-Thin-Italic'),
    /*url('Industry-Thin-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Thin-Italic.woff2') format('woff2'),*/
    /*url('Industry-Thin-Italic.woff') format('woff'),*/
    url('Industry-Thin-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* 300 - Light: normal */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Light.eot');*/
    src: local('Industry Light'), local('Industry-Light'),
    /*url('Industry-Light.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Light.woff2') format('woff2'),*/
    /*url('Industry-Light.woff') format('woff'),*/
    url('Industry-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* 300 - Light: italic */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Light-Italic.eot');*/
    src: local('Industry Light Italic'), local('Industry-LightItalic'), local('Industry-Light-Italic'),
    /*url('Industry-Light-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Light-Italic.woff2') format('woff2'),*/
    /*url('Industry-Light-Italic.woff') format('woff'),*/
    url('Industry-Light-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* 400 - Book: normal */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Book.eot');*/
    src: local('Industry Book'), local('Industry-Book'),
    /*url('Industry-Book.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Book.woff2') format('woff2'),*/
    /*url('Industry-Book.woff') format('woff'),*/
    url('Industry-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* 400 - Book: italic */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Book-Italic.eot');*/
    src: local('Industry Book Italic'), local('Industry-BookItalic'), local('Industry-Book-Italic'),
    /*url('Industry-Book-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Book-Italic.woff2') format('woff2'),*/
    /*url('Industry-Book-Italic.woff') format('woff'),*/
    url('Industry-Book-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* 500 - Medium: normal */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Medium.eot');*/
    src: local('Industry Medium'), local('Industry-Medium'),
    /*url('Industry-Medium.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Medium.woff2') format('woff2'),*/
    /*url('Industry-Medium.woff') format('woff'),*/
    url('Industry-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* 500 - Medium: italic */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Medium-Italic.eot');*/
    src: local('Industry Medium Italic'), local('Industry-MediumItalic'), local('Industry-Medium-Italic'),
    /*url('Industry-Medium-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Medium-Italic.woff2') format('woff2'),*/
    /*url('Industry-Medium-Italic.woff') format('woff'),*/
    url('Industry-Medium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* 600 - Demi: normal */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Demi.eot');*/
    src: local('Industry Demi'), local('Industry-Demi'),
    /*url('Industry-Demi.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Demi.woff2') format('woff2'),*/
    /*url('Industry-Demi.woff') format('woff'),*/
    url('Industry-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* 600 - Demi: italic */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Demi-Italic.eot');*/
    src: local('Industry Demi Italic'), local('Industry-DemiItalic'), local('Industry-Demi-Italic'),
    /*url('Industry-Demi-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Demi-Italic.woff2') format('woff2'),*/
    /*url('Industry-Demi-Italic.woff') format('woff'),*/
    url('Industry-Demi-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* 700 - Bold: normal */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Bold.eot');*/
    src: local('Industry Bold'), local('Industry-Bold'),
    /*url('Industry-Bold.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Bold.woff2') format('woff2'),*/
    /*url('Industry-Bold.woff') format('woff'),*/
    url('Industry-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* 700 - Bold: italic */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Bold-Italic.eot');*/
    src: local('Industry Bold Italic'), local('Industry-BoldItalic'), local('Industry-Bold-Italic'),
    /*url('Industry-Bold-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Bold-Italic.woff2') format('woff2'),*/
    /*url('Industry-Bold-Italic.woff') format('woff'),*/
    url('Industry-Bold-Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* 800 - Black: normal */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Black.eot');*/
    src: local('Industry Black'), local('Industry-Black'),
    /*url('Industry-Black.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Black.woff2') format('woff2'),*/
    /*url('Industry-Black.woff') format('woff'),*/
    url('Industry-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* 800 - Black: italic */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Black-Italic.eot');*/
    src: local('Industry Black Italic'), local('Industry-BlackItalic'), local('Industry-Black-Italic'),
    /*url('Industry-Black-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Black-Italic.woff2') format('woff2'),*/
    /*url('Industry-Black-Italic.woff') format('woff'),*/
    url('Industry-Black-Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* 900 - Ultra: normal */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Ultra.eot');*/
    src: local('Industry Ultra'), local('Industry-Ultra'),
    /*url('Industry-Ultra.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Ultra.woff2') format('woff2'),*/
    /*url('Industry-Ultra.woff') format('woff'),*/
    url('Industry-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* 900 - Ultra: italic */
@font-face {
    font-family: 'Industry';
    /*src: url('Industry-Ultra-Italic.eot');*/
    src: local('Industry Ultra Italic'), local('Industry-UltraItalic'), local('Industry-Ultra-Italic'),
    /*url('Industry-Ultra-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('Industry-Ultra-Italic.woff2') format('woff2'),*/
    /*url('Industry-Ultra-Italic.woff') format('woff'),*/
    url('Industry-Ultra-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
